.DS_Store
Hero
hero2.png
output.py
file
test
Hero.pxd/data/376BBCCC-B139-476F-A8DC-D3B224FDAA03
Hero.pxd/data/84ECFABC-2794-4D5F-B19E-FDFA9C583BD0
Hero.pxd/metadata.info
Hero.pxd/QuickLook/Icon.tiff
Hero.pxd/QuickLook/Thumbnail.tiff
